# The output
#/*.pdf

# Temp
/tmp
/thesis.synctex.gz
/thesis.brf
/thesis.lol

# Bibliography
/bibliography/*.bak

*.aux
/thesis.pdf
/thesis.bbl
/thesis.blg
/thesis.lof
/thesis.log
/thesis.lot
/thesis.out
/thesis.toc
